<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список проектов</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Список проектов</h1>
    <a href="{% url 'add_project' %}">Добавить проект</a>
    <ul>
        {% for project in projects %}
        <li>
            {{ project.name }} - {{ project.description }}
            <a href="{% url 'edit_project' project.pk %}" class="button">Редактировать</a>
            <a href="{% url 'delete_project' project.pk %}" class="button">Удалить</a>
            <a href="{% url 'project_detail' project.pk %}" class="button">Смотреть задачи</a>
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>